<div class="form-group">
  <label for="title">email</label>
  <input type="text" name="email" id="email" class="form-control">
</div>
<div class="form-group">
  <label for="title">password</label>
  <input type="text" name="password" id="password" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Login</button>